#formato{
    text-align: center;
    margin-top: 30px;
    margin-left: 35px;
}
.slider{
   float: right;
    width: 200px;
    margin-right: 35px;
}
#link{
    color: #39a8f1ea;
}
#fundo{
    --background: #facbcffd;
}

#titulo{
    --background: #d6927dfd;
}