<ion-header> 
  <ion-toolbar id="titulo">
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button defaultHref="main"></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Achievements</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="fundo">
  <ion-list  *ngFor="let c of conquistas; let i = index">
    <ion-item>
      <ion-icon slot="start" [ios]="c.status + '-outline'" [md]="c.status + '-sharp'"></ion-icon>
      <ion-label class="ion-text-wrap">
        <ion-text>
          <h3>{{ c.nome }}</h3>
        </ion-text>
        <ion-text>
          <p>{{c.desc}}</p>
        </ion-text>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>