#title1-box{
    margin-bottom: 5%;
    text-align: center;
    font-weight: bolder;
    margin-top: 10%;
    
}
#title2-box{
    margin-top: 30px;
    text-align: center;
    font-weight: bolder;
    color: #47a9c7fd;
    
    
}

#logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    margin-top: 5%;
    width: 40%;
}

ion-item{
    --background: #fee7c0;
    margin-bottom: 3%;
}

p{
    color: white;
    font-weight: 500;
}

.fundo{
    --background: #facbcffd;
}